
@font-face {
    font-family: Space Grotesk;
    src: url("../../css/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf");
 }

 .notification-bar {
    background-color: black;
    display: flex;
}

.notification-text {
    flex: 1;
    text-align: center;
    color: white;
}

