
@font-face {
    font-family: Space Grotesk;
    src: url("../../css/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf");
 }

 .notification-bar {
    background-color: black;
    height: 40px;
}

.notification-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.notification-icon{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {
    .notification-bar{
        height: 60px;        
        }
}
